
-- Certificates table
create table if not exists public.certificates (
  id uuid primary key default gen_random_uuid(),
  user_id uuid references public.users(id),
  event_name text not null,
  event_type text not null,
  certificate_type text not null,
  achievement text,
  verified boolean default false,
  nft_minted boolean default false,
  nft_token_id text,
  image_url text,
  created_at timestamp with time zone default now()
);

