
-- News comments table
create table if not exists public.news_comments (
  id uuid primary key default gen_random_uuid(),
  news_id uuid references public.news(id) on delete cascade,
  author_id uuid references public.users(id),
  author_name text,
  content text not null,
  wallet_address text,
  created_at timestamp with time zone default now()
);

