
-- Update users table to include referral info if not present
alter table public.users add column if not exists referral_code text unique;
alter table public.users add column if not exists referred_by_code text;
alter table public.users add column if not exists points integer default 0;

-- Create referrals table to track history
create table if not exists public.referrals (
  id uuid primary key default gen_random_uuid(),
  referrer_id uuid references public.users(id),
  referred_id uuid references public.users(id),
  points_awarded integer default 50,
  created_at timestamp with time zone default now()
);

-- Function to generate a random referral code
create or replace function generate_referral_code() 
returns text as \$\$
declare
  chars text := 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
  result text := '';
  i integer;
begin
  for i in 1..8 loop
    result := result || substr(chars, floor(random() * length(chars) + 1)::integer, 1);
  end loop;
  return result;
end;
\$\$ language plpgsql;

